.explore{
   width: 1177px;
   margin: 32px auto 0;
}
.explore__content__title{
   font-family: 'Aleo', serif;
   font-size: 80px;
   font-weight: 700;
   line-height: 96px;
   color: white;
}
.explore__content__text{
   font-family: 'Aleo', serif;
   font-style: italic;
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: white;
   margin-top: 46px;
}
.explore__content__search{
   background: rgba(255, 255, 255, 0.7);
   border-radius: 16px;
   display: inline-flex;
   gap: 250px;
   margin-top: 46px;
   padding: 0 25px;
}
.explore__content__search__text{
   color: #F2785C;
   font-family: 'Aleo', serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 28px;
   font-style: italic;
   display: flex;
   align-items: center;
}
.adapt__show{
   display: none;
}
.explore__content__search__btn{
   color: white;
   background-color: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   font-family: 'Red Hat Text', sans-serif;
   font-size: 24px;
   font-weight: 500;
   line-height: 31px;
   padding: 13px 32px;
   border: none;
   margin: 18px 0;
   cursor: pointer;
}
@media screen and (min-width: 390px) and (max-width: 1251px){
   .explore__content__title{
      display: none;
   }
   .explore{
      width: 360px;
      margin: 0 auto;
   }
   .explore__content__text{
      display: none;
   }
   .explore__content__search__btn{
      font-size: 11px;
      line-height: 15px;
      padding: 7.5px 9px;
      margin: 9px 0;
   }
   .explore__content__search__text{
      font-size: 14px;
      line-height: 16px;
   }
   .explore__content__search{
      padding: 0 16px;
      margin: 0 auto;
      gap: 60px;
   }
   .adapt__show{
      display: block;
      padding: 43px 10px 67px;
   }
   .adapt__show__item2{
      float: right;
   }
}







