*{
   padding: 0;
   margin: 0;
}
.bg{
   background: url(../img/bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 765px;
}
.header{
   width: 100%;
   height: 90px;
   background: rgba(242, 120, 92, 0.7);
   box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.header__content{
   display: flex;
   justify-content: center;
   padding-top: 25px;
   margin: 0 auto;
}
.header__content__logo{
   display: flex;
   gap: 6px;
}
.header__content__logo__text{
   font-family: 'Magra', sans-serif;
   color: white;
   font-weight: 600;
   font-size: 32px;
   line-height: 38px;
   width: 181px;
}
.header__content__menu{
   display: flex;
   gap: 42px;
   margin: 0 196px 0 158px;
}
.header__content__menu__item{
   font-family: 'Red Hat Text', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   display: flex;
   align-items: center;
}
.header__content__menu__item-link{
   color: white;
   text-decoration: none;
}
.header__content__menu__item-link:hover{
   text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333;
}
.header__content__button{
   color: white;
   background-color: #0D606F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: none;
   font-family: 'Red Hat Text', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   padding: 10px 30px;
   cursor: pointer;
}