.steps__content{
   width: 1177px;
   margin: 80px auto 0;
}
.steps__content__title{
   color: #F2785C;
   font-size: 40px;
   line-height: 52px;
   font-weight: 500;
   font-family: 'Red Hat Text', sans-serif;
   text-align: center;
}
.steps__content__icons{
   display: flex;
   margin-top: 40px;
   justify-content: space-between;
}
.steps__content__icons__item__text{
   color: #0D606F;
   font-family: 'Aleo', serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   margin-top: 30px;
}
.steps__content__icons__item__img{
   display: block;
   margin: 0 auto;
}
@media screen and (min-width: 390px) and (max-width: 1251px){
   .steps__content{
      width: 360px;
      margin: 20px auto 0;
   }
   .steps__content__title{
      font-size: 14px;
      line-height: 18px;
   }
   .steps__content__icons__item__img{
      width: 70px;
      height: 70px;
   }
   .steps__content__icons__item__text{
      font-size: 10px;
      line-height: 12px;
      margin-top: 20px;
   }
   .steps__content__icons{
      margin-top: 20px;
      gap: 40px;
   }
   .steps__img__one{
      margin: 0 auto 0 0;
   }
   .steps__img__three{
      /* margin: 0 0 0 auto; */
   }
   .steps__text__two{
      text-align: center;
   }
   .steps__text__three{
      text-align: center;
   }
}